<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @life.title %>
</p>

<p>
  <strong>Source:</strong>
  <%= @life.source %>
</p>

<p>
  <strong>Url:</strong>
  <%= @life.url %>
</p>

<p>
  <strong>Thumbnail:</strong>
  <%= @life.thumbnail %>
</p>
<%= link_to 'Back', stories_path %>
